body{
    font-family: 'Courier New', Courier, monospace;

}

img{
    height: 250px;
    border:red ;
}

nav{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

div.obrazky{
    display: flex;
    flex-direction: column;
    align-items: center;
}